OPENQSP_DATABASE=openqsp.db

OPENQSP_TCP_ENABLED=true
OPENQSP_TCP_HOST=127.0.0.1
OPENQSP_TCP_PORT=8023

OPENQSP_APRS_ENABLED=true
# OpenQSP is the project name; OQSP is the APRS/AX.25 service identity.
# AX.25 source callsigns are limited to 6 characters, so OPENQSP must not be
# used as the on-air/APRS-IS station identity.
OPENQSP_APRS_CALLSIGN=OQSP
OPENQSP_APRS_PASSCODE=28643
OPENQSP_APRS_HOST=rotate.aprs2.net
OPENQSP_APRS_PORT=14580
OPENQSP_APRS_FILTER=g/OQSP
