OPENQSP_DATABASE=openqsp.db

OPENQSP_TCP_ENABLED=true
OPENQSP_TCP_HOST=127.0.0.1
OPENQSP_TCP_PORT=8023

OPENQSP_APRS_ENABLED=true
OPENQSP_APRS_CALLSIGN=OPENQSP
OPENQSP_APRS_PASSCODE=CHANGE_ME
OPENQSP_APRS_HOST=rotate.aprs2.net
OPENQSP_APRS_PORT=14580
OPENQSP_APRS_FILTER=g/OPENQSP
